.backgroundStyle {
  background-color: #75d3ff;
  height: 98vh;
  width: 99vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.backgroundStyle2 {
  background-color: #75d3ff;
  height: 98vh;
  width: 99vw;
}
.blink-twice {
  animation: blinkTwice 0.6s ease-in-out;
}

@keyframes blinkTwice {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
